@model ReflectionIT.Mvc.Paging.PagingList<Usuario>
@using ReflectionIT.Mvc.Paging
@addTagHelper *,ReflectionIT.Mvc.Paging

<div>
    <h2 class="text-center mt-4" style="color: #FD5924;">LISTADO DE CUMPLEAÑOS POR MES</h2>

    <div class="col-5 mx-auto d-flex justify-content-end">

        <form method="post">
            <select name="mes" class="select text-center" id="seleccionar">
                <option value="1">1-Enero</option>
                <option value="2">2-Febreo</option>
                <option value="3">3-Marzo</option>
                <option value="4">4-Abril</option>
                <option value="5">5-Mayo</option>
                <option value="6">6-Junio</option>
                <option value="7">7-Julio</option>
                <option value="8">8-Agosto</option>
                <option value="9">9-Septiembre</option>
                <option value="10">10-Obtubre</option>
                <option value="11">11-Nobiembre</option>
                <option value="12">12-Diciembre</option>
            </select>
            <button class="btn btn-primary" type="submit" asp-controller="Utilidades" asp-action="Index" style="background-color: #FD5924; height:30px;">
                <ion-icon class="search-outline" name="search-outline"></ion-icon>
            </button>
        </form>

        @if (ViewBag.error != null)
        {
            <span class="text-danger">@ViewBag.error</span>
        }

    </div>

    <div class="col-10 mt-4 mx-auto">
        <table class="table table-md-responsive">
            <thead class="thead-light">
                <tr>
                    <th style="color: #FD5924;">Nombre</th>
                    <th style="color: #FD5924;">Apellido</th>
                    <th style="color: #FD5924;">Fecha de nacimiento</th>
                    <th style="color: #FD5924;">Email</th>
                    <th>
                        <form method="post">
                            <input type="hidden" name="indice" value="@Guardar.Mes">
                            <input class="btn text-white" type="submit" asp-controller="Utilidades" asp-action="ReadCsv" value="Exportar a CSV" style="background-color: #297E0B; height:30px; width:150px;" />
                        </form>
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (Usuario usuario in ViewBag.Usuario)
                    {
                        <tr>
                            <td>@usuario.Nombre</td>
                            <td>@usuario.Apellido</td>
                            <td>@usuario.FechaNacimiento</td>
                            <td>@usuario.Correo</td>
                            <td>
                                <a asp-route-id="@usuario.IdUsuario" class="col-10 text-center padre pl-4 btn" style="background-color: #FD5924; height:30px; width:130px;">
                                    <p class="m-0 d-inline-block text-white">Detalles</p>
                                    <ion-icon class="ml-2 d-inline-block icono text-white" name="eye-outline"></ion-icon>
                                </a>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>

        <nav aria-label="Employee paging" class="" style="width:150px; margin: 0 auto;">
            @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })
        </nav>
        <!-- <nav aria-label="Page navigation example">
        <vc:pager paging-list=@Model />
        </nav> -->
    </div>
</div>

<script>
    function selection(a) {
        let select = document.getElementsByTagName("option")[(a - 1)]
        select.setAttribute("selected", "true")
        console.log(select);
    }
selection(@Guardar.Mes)
</script>