@{
    DB_A64A4C_SuperMercadoContext _context = new DB_A64A4C_SuperMercadoContext();
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Proyecto_final_pro_3</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!--owl responsive carrusel-->
    <link rel="stylesheet" href="~/carrusel/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/carrusel/owl.theme.default.min.css">

    <!--JQuery js-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!--SweetAlert-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>


    <!--Leaflet-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin="" />

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
</head>
<body class="m-0">
    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="~/imagen/logo.jpg" width="110" alt="Logo" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav flex-grow-1 row align-conten-center">
                        <li class="nav-item col-lg-6 col-12 offset-lg-1 rounded border p-0">
                            <form method="post" class="d-flex py-2 py-md-0 px-0 padre">
                                <ion-icon name="search-outline" class="ml-3 icono"></ion-icon>
                                <input type="text" placeholder="Que articulo desea buscar?" name="producto" class="fi w-100 ml-2 border-0 rounded-0 bg-light" />
                                <input type="submit" asp-controller="Home" asp-action="BuscarProductos" class="btn bg-orange text-white border border-white" value="Buscar" />
                            </form>
                        </li>
                        <!-- <li class="nav-item col-lg-2 offset-lg-1 p-0 py-md-0 padre pl-3 pl-lg-0">
                            <a class="link-ir text-decoration-none" asp-controller="Cuenta" asp-action="LoggedOut">Cerrar Sesion</a>
                        </li> -->
                        <li class="nav-item col-12 col-lg-1 offset-lg-1 py-2 py-md-0 padre">
                            <a asp-action="Index" asp-controller="AdministrarCarrito" asp-area="Cliente" style="text-decoration:none;">
                                <ion-icon name="cart-outline" class="icono"></ion-icon>

                                @{
                                    int useID = Convert.ToInt32(ViewBag.userID);
                                    var cart = _context.Carrito.Where(x => x.IdUsuario == useID).ToList();
                                   
                                    <span class="badge badge-danger text-white rounded-circle">@cart.Count()</span>
                                }

                            </a>
                        <li class="nav-item col-lg-2 offset-lg-1 p-0 py-md-0 padre pl-3 pl-lg-0">
                            <div class="dropdown">
                                <a class="text-decoration-none text-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                   @{ 
                                       int useID2 = Convert.ToInt32(ViewBag.userID);
                                       Usuario usuario = _context.Usuario.FirstOrDefault(x => x.IdUsuario == useID2);
                                   }                                  

                                    <span>@usuario.Correo</span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" asp-controller="MiCuentaCliente" asp-action="Index"><ion-icon name="person-circle"></ion-icon>  Mi Cuenta</a>
                                    <a class="dropdown-item" asp-controller="MiCuentaCliente" asp-action="CambiarContraseña"><ion-icon name="key"></ion-icon>  Cambiar Contraseña</a>
                                    <a class="dropdown-item" asp-controller="MiCuentaCliente" asp-action="Ordenes"><ion-icon name="reader"></ion-icon>  Mis Ordenes</a>
                                    <a class="dropdown-item" asp-controller="Cuenta" asp-action="LoggedOut"><ion-icon name="exit"></ion-icon>  Cerrar Sesión</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-0 box-shadow" style="background: #FD5924">
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarNav">

                    <ul class="navbar-nav flex-grow-1 row">
                        <li class="nav-item ml-sm-auto">
                            <a class="nav-link text-white pl-2" asp-action="Index" >Inicio</a>
                        </li>
                        <li class="nav-item ml-sm-auto">
                            <a class="nav-link text-white pl-2" href="#">Producto</a>
                        </li>
                        <li class="nav-item ml-sm-auto padre">
                            <a class="nav-link text-white pl-2" data-toggle="collapse" href="#collapseCategoria" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Categoria
                            </a>
                            <ion-icon class="text-white" name="caret-down"></ion-icon>
                        </li>
                        <li class="nav-item ml-sm-auto">
                            <a class="nav-link text-white pl-2" asp-controller="Home" asp-action="Conctactanos">Contactanos</a>
                        </li>
                        <li class="nav-item ml-sm-auto padre">
                            <ion-icon name="gift-outline" class="icono text-white"></ion-icon>
                            <a asp-controller="Home" asp-action="Ofertas" class="nav-link text-white pl-2">Ofertas</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <section class="collapse" id="collapseCategoria" style="background-color: #FF6F41;">
            <div class="border-top text-muted container py-3">
                <section class="row pl-5">
                    @{
                        
                        var Catego = _context.Categoria.ToList();

                        foreach (Categoria categoria in Catego)
                        {
                            <div class="col-6 col-sm-3 py-2">
                                <a asp-controller="Home" asp-action="Categorias" asp-route-id="@categoria.IdCategoria" class="zoom text-white text-decoration-none">@categoria.Nombre</a>
                            </div>
                        }

                    }
                </section>
            </div>
        </section>

    </header>
    <div class="container-fluid px-0 mb-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer style="background: #F2F2F2;" class="pt-4">
        <div class="container text-muted">
            <section class="row w-75 pt-4">

                <div class="col-4">
                    <ul class="link">
                        <li class="font-weight-bold">Información</li>
                        <li><a asp-controller="Home" asp-action="Index">Inicio</a></li>
                        @*<li><a href="#">Productos</a></li>
        <li><a href="#">Contactos</a></li>*@
                        <li><a asp-controller="Home" asp-action="Categorias" asp-route-id="1">Categorias</a></li>
                        <li><a asp-controller="Home" asp-action="Ofertas">Ofertas</a></li>
                    </ul>
                </div>
                <div class="col-4">
                    <ul class="link">
                        <li class="font-weight-bold">Cuenta</li>
                        <li><a asp-controller="Cuenta" asp-action="Login">Iniciar sesión</a></li>
                        <li><a asp-controller="Cuenta" asp-action="Registrarse">Registrarse</a></li>
                    </ul>
                </div>
                <div class="col-4">
                    <ul class="link link-a">
                        <li class="font-weight-bold">Contáctanos</li>
                        <li><a asp-action="Conctactanos">AMERAXpres Office</a></li>
                    </ul>
                </div>
            </section>
        </div>
        <section style="background: #EBEBEB;">
            <div class="container mt-5">
                <div class="row align-items-center" style="height: 80px;">
                    <div class="col-12 col-sm-6">
                        <span class="d-inline-block ml-sm-5">CopyRight</span>
                        <span class="d-inline-block ml-sm-3">2020 AmericaXpress.com</span>
                    </div>
                </div>
            </div>
        </section>
    </footer>


    <!--<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Proyecto_final_pro_3 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>-->
    <!--Script Owl Carrusel-->
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
    <script src="~/carrusel/owl.carousel.min.js"></script>
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        })
    </script>

    <!--Ionic icons js-->
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
