@model Orden
@{ 
    var detalleOrden = (List<DetalleOrden>)ViewBag.detalleOrden;
    var totalDetalleOrden = ViewBag.detalleOrdenTotal;
}

<div class="container mt-3 overflow-auto">
    <div class="" style="margin-top:10px">
        <a class="text-orange" href="#">Volver a la lista</a>
        <h2 class="text-orange d-inline" style="margin-left: 25%;">DETALLE DEL PEDIDO</h2>
    </div>
    <div class="mt-4" style="padding: 2%; border: 1px solid rgb(255, 11, 65, 0.3); border-radius:10px;">

        <div class="row">
            <div class="container  w-50">
                <div class="row">
                    <div class="w-50 text-orange">
                        <p>Nombre:</p>
                        <p>Apellido:</p>
                        <p>Correo:</p>
                        <p>Direccio del pedido:</p>
                        <p>Latitud y longitud:</p>
                        <p>Fecha del pedido:</p>
                        <p>Estado del pedido:</p>

                    </div>
                    @*columna interna 2 atributos*@
                <div class="w-50">
                    <p>
                        @Html.DisplayFor(model => model.IdUsuarioNavigation.Nombre)
                    </p>
                    <p>
                        @Html.DisplayFor(model => model.IdUsuarioNavigation.Apellido)
                    </p>
                    <p>
                        @Html.DisplayFor(model => model.IdUsuarioNavigation.Correo)
                    <p />
                    <p>
                        <span>@Html.DisplayFor(model => model.IdDomicilioNavigation.Latitud) </span>
                        <span> @Html.DisplayFor(model => model.IdDomicilioNavigation.Longitud)</span>
                    <p/>
                    <p>
                        @Html.DisplayFor(model => model.Fecha)
                    </p>
                    <p>
                        @Html.DisplayFor(model => model.IdStatusOrdenNavigation.Nombre)
                    </p>
                </div>

                </div>
                <div class="container text-center ">
                    <h6 class="text-orange" style="margin-right: 20%;">Destino especifico</h6>
                    <div id="mapDetalle" style="width:420px; height:190px; margin-right: 20%;"></div>
                </div>
            </div>



            <div class=" w-50">
                <h5 class="text-orange">Lista de productos</h5>
                <table class="table">
                    <thead>
                        <tr class="text-orange">
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Cantidad</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in detalleOrden) {
                        <tr>
                            <td>@i.IdProductoNavigation.Nombre</td>
                            <td>RD$ @i.Precio</td>
                            <td>@i.Cantidad</td>
                        </tr>
                        }
                        <tr style="background: #F2F2F2">
                            <td><strong>Total: </strong></td>
                            <td>RD$ @totalDetalleOrden</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</div>

<script>
    var latitud = @Model.IdDomicilioNavigation.Latitud.ToString().Replace(",", ".");
    var longitud =@Model.IdDomicilioNavigation.Longitud.ToString().Replace(",", ".");
    var map = L.map('mapDetalle').setView([latitud, -longitud], 3);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
            marker = new L.marker([latitud, longitud]).addTo(map)
                .bindPopup('@Model.IdUsuarioNavigation.Nombre');
</script>
