@model IEnumerable<Proyecto_final_pro_3.Models.Orden>

<div>
    <h2 class="text-center mt-4" style="color: #FD5924;">LISTADO DE CLIENTES Y SUS ORDENES DE COMPRAS</h2>
    <p></p>
    <div class="col-9 col-lg-6 mt-4 d-flex py-2 py-md-0 padre mx-auto bg-light pr-0">
        <ion-icon name="search-outline" class="ml-5 icono"></ion-icon>
        <input type="text" placeholder="Nombre o Correo" class="fi w-100 ml-2 border-0 rounded-0 bg-light">
        <a class="btn bg-orange text-white border border-white">Buscar</a>
    </div>

    <div class="col-10 mt-4 mx-auto">
        <table class="table table-md-responsive">
            <thead class="thead-light">
                <tr>
                    <th style="color: #FD5924;">Nombre</th>
                    <th style="color: #FD5924;">Apellido</th>
                    <th style="color: #FD5924;">Correo/Email</th>
                    <th style="color: #FD5924;">Ordenes</th>
                    <th style="color: #FD5924;">Opciones</th>
                </tr>
            </thead>
            <tbody>

                @foreach (Orden orden in Model)
                {
                    <tr>
                        <td>@orden.IdUsuarioNavigation.Nombre</td>
                        <td>@orden.IdUsuarioNavigation.Apellido</td>
                        <td>@orden.IdUsuarioNavigation.Correo</td>
                        <td>@orden.IdOrden</td>
                        <td>
                            <a asp-controller="GestionReportes" asp-action="Details" asp-route-id="@orden.IdOrden" class="col-10 text-center padre pl-4 btn" style="background-color: #FD5924; height:30px; width:130px;">
                                <p class="m-0 d-inline-block text-white">Pedidos</p>
                                <ion-icon class="ml-2 d-inline-block icono text-white" name="eye-outline"></ion-icon>
                            </a>
                        </td>
                    </tr>
                }                
            </tbody>
        </table>
    </div>
</div>