@{ Layout = "~/Views/Shared/_Layout_administrador.cshtml"; }

@model Producto

@*<div class="overflow-auto">*@
    <h3 class="text-center mt-4" style="color: #FD5924;">DETALLES DEL PRODUCTO</h3>

    <form style="height:500px;">
        <div class="mx-auto mt-3 col-md-8  text-center shadow-sm" style="border:1px solid #d3cdcd ;">

                <div class="col-8 col-sm-11 col-md-11 mx-auto mt-4 mb-4">
                    <img src="@Model.Foto" style="width: 25%; height: 25%" />
                </div>
                <div class="col-8 col-sm-11 col-md-11 mx-auto mt-4 mb-4 w-75">
                    <span style="display:block; color: #FF561F; font-size:17px"><strong>Nombre</strong></span>
                    <span style=" margin: auto;">@Html.DisplayFor(model => model.Nombre)</span>
                </div>
                <div class="col-8 col-sm-11 col-md-11 mx-auto mt-4 mb-4 w-75">
                    <span style="display:block; color: #FF561F; font-size:17px"><strong>Descripción</strong></span>
                    <span style=" margin: auto;">@Html.DisplayFor(model => model.Descripcion)</span>
                </div>
                <div class="col-8 col-sm-11 col-md-11 mx-auto mt-4 mb-4 w-75">
                    <span style="display:block; color: #FF561F; font-size:17px"><strong>Categoria</strong></span>
                    <span style=" margin: auto;"> @Html.DisplayFor(model => model.IdCategoriaNavigation.Nombre)</span>
                </div>
                <div class="col-8 col-sm-11 col-md-11 mx-auto mt-4 mb-4 w-75">
                    <span style="display:block; color: #FF561F; font-size:17px"><strong>Stock</strong></span>
                    <span style=" margin: auto;">@Html.DisplayFor(model => model.Stock)</span>
                </div>
                <div class="col-8 col-sm-11 col-md-11 mx-auto mt-4 mb-4 w-75">
                    <span style="display:block; color: #FF561F; font-size:17px"><strong>Precio</strong></span>
                    <span style=" margin: auto;">RD$ @Html.DisplayFor(model => model.Precio)</span>
                </div>
        </div>
    </form>

@*</div>*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
