@model Orden
@{
    var detalleOrden = (List<DetalleOrden>)ViewBag.detalleOrden;
    var totalDetalleOrden = ViewBag.detalleOrdenTotal;
    var totalDescuento = ViewBag.TotalDescuento;


    if (ViewBag.userID != null)
    {
        Layout = "~/Views/Shared/_LayoutLogged.cshtml";

    }

}
@if (Model == null && !detalleOrden.Any())
{
    <div style="margin-top:5%; margin-bottom:12%;">
        <h2 class="text-orange d-inline text-center" style="margin-left: 30%;">NO TIENE ORDENES...</h2>
    </div>
}
else
{
    <div class="container mt-3 overflow-auto" style="margin-bottom:10%">
        <div class="" style="margin-top:10px">
            <h2 class="text-orange d-inline text-center" style="margin-left: 30%;">DETALLES DE LA ORDEN</h2>
        </div>
        <form style="height:500px;">
            <div class="mt-4 p-2 border-0">
                <div class="row">
                    <div class="container w-auto">
                        <div class="row">
                            <div class="w-50 text-orange ml-1">

                                <p class="font-weight-bold">Teléfono :</p>
                                <p class="font-weight-bold">Comentario:</p>
                                <p class="font-weight-bold">Latitud y Longitud:</p>
                                <p class="font-weight-bold">Fecha del Pedido:</p>
                                <p class="font-weight-bold">Estado del Pedido:</p>

                            </div>
                            @*columna interna 2 atributos*@
                            <div class="w-auto">


                                @if (Model.IdDomicilioNavigation.Telefono == null)
                                {
                                    <p>Ninguno</p>
                                }
                                else
                                {
                                    <p>
                                        @Html.DisplayFor(model => model.IdDomicilioNavigation.Telefono)
                                    </p>
                                }

                                @if (Model.IdDomicilioNavigation.Comentario == null)
                                {
                                    <p>Ninguno</p>
                                }
                                else
                                {
                                    <p>
                                        @Html.DisplayFor(model => model.IdDomicilioNavigation.Comentario)
                                    </p>
                                }

                                <p>
                                    <span>@Html.DisplayFor(model => model.IdDomicilioNavigation.Latitud) </span>
                                    <span> @Html.DisplayFor(model => model.IdDomicilioNavigation.Longitud)</span>
                                <p />
                                <p>
                                    @Html.DisplayFor(model => model.Fecha)
                                </p>
                                <p>
                                    @Html.DisplayFor(model => model.IdStatusOrdenNavigation.Nombre)
                                </p>
                            </div>

                        </div>
                        <div class="container text-center ">
                            <h6 class="text-orange mt-3" style="margin-right: 20%;">Destino Específico</h6>
                            <div id="mapDetalle" style="width:420px; height:190px; margin-right: 20%;"></div>
                        </div>
                    </div>



                    <div class=" w-50">
                        <h5 class="text-orange text-center">Lista de Productos</h5>
                        <table class="table">
                            <thead>
                                <tr class="text-orange">
                                    <th>Nombre Producto</th>
                                    <th>Precio</th>
                                    <th>Cantidad</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var i in detalleOrden)
                                {
                                    <tr>
                                        <td>@i.IdProductoNavigation.Nombre</td>
                                        <td>RD$ @i.Precio</td>
                                        <td class="text-center">@i.Cantidad</td>
                                    </tr>
                                }
                                <tr style="background: #F2F2F2">
                                    <td><strong>Total de descuento: </strong></td>
                                    <td>RD$ @totalDescuento</td>
                                    <td></td>
                                </tr>
                                <tr style="background: #F2F2F2">
                                    <td><strong>Total pagado: </strong></td>
                                    <td>RD$ @Model.Total</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </form>
    </div>

    <script>
    var latitud = @Model.IdDomicilioNavigation.Latitud.ToString().Replace(",", ".");
    var longitud =@Model.IdDomicilioNavigation.Longitud.ToString().Replace(",", ".");
    var map = L.map('mapDetalle').setView([latitud, longitud], 10);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
    marker = new L.marker([latitud, longitud]).addTo(map);
                @*.bindPopup('@Model.IdUsuarioNavigation.Nombre' +
                    ' @Model.IdUsuarioNavigation.Apellido');*@
    </script>
}