@{
    ViewData["Title"] = "second Page";
}

<div class="container-fluid">
    <div class="row" style="margin-top: 5%;">

        <div class="d-inline-block" style="margin-left: 18%;">

            <img src="@ViewBag.Producto.Foto" style="width:200px; height:200px;">
        </div>

        <div class="d-inline-block col-12 col-md-6 mt-3 mt-md-0" style="padding-left: 4%;">

            <h2 class="">@ViewBag.Producto.Nombre</h2>
            <br />
            <p class="h5 font-weight-normal">@ViewBag.Producto.Descripcion</p>
            <br />
            <div class="" style="position:relative;">
                <p class="h5 d-inline-block"><strong>RD$ @ViewBag.Producto.Precio</strong></p>
                <p class="h5 d-inline-block" style="position:absolute; right:15%;">
                    <strong>Cantidad: </strong>
                    <select name="option">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </p>
            </div>
            

            <button class="btn border-0  mt-4 mb-5 p-2 col-5 " style="background: #FD5924; color: #fff;">Comprar ahora</button>
            <button class="btn border-0  mt-4 mb-5 p-2 col-5 " style="background: #85E30C; color: #fff; margin-left: 7%;">Añadir Carrito</button>

        </div>
    </div>
</div>

<div class="padre d-flex align-items-center justify-content-center" style="height:170px;">
    <p class="display-4 text-center" style="color: #FF6F41;">Productos similares</p>
</div>

<div class="container mt-5 mb-5">
    <div class="owl-carousel owl-theme">

        @foreach (Producto producto in ViewBag.Productos)
        {
          
            <div class="item" style="position: relative;">
                <div class="px-sm-4 pt-2" style="height: 350px;width:220px ;">
                    <div class="" style="height: 45%;">
                        <img src="@producto.Foto" class="img-fluid img-center" alt="">
                    </div>
                    <div class="text-center pt-sm-2" style="height: 30%;">
                        <p>@producto.Nombre</p>
                        <h4>@producto.Precio $</h4>
                        <br />
                    </div>
                    <div class="m-auto" style="height: 25%;">
                        <a class="btn btn-outline-oscuro btn-block btn-sm" asp-route-id="@producto.IdProducto" asp-controller="Home" asp-action="Detalle_Producto">Comprar ahora</a>
                    </div>
                </div>
            </div>
          
        }

    </div>
</div>

