
@{
    ViewData["Title"] = "second Page";

    if (ViewBag.userID != null)
    {
        Layout = "~/Views/Shared/_LayoutLogged.cshtml";

    }

}

<div class="container-fluid">
    <div class="row" style="margin-top: 5%;">

        <div class="d-inline-block" style="margin-left: 18%;">

            <img src="@ViewBag.Producto.Foto" style="width:200px; height:200px;">
        </div>

        <div class="d-inline-block col-12 col-md-6 mt-3 mt-md-0" style="padding-left: 4%;">

            <h2 class="">@ViewBag.Producto.Nombre</h2>
            <br />
            <p class="h5 font-weight-normal">@ViewBag.Producto.Descripcion</p>
            <br />

            @if (@ViewBag.Producto.Stock > 0)
            {
                <div class="" style="position:relative;">

                    @if (@ViewBag.Producto.Stock <= 10)
                    {
                        <div>
                            <p class="h5 d-inline-block text-danger">@ViewBag.Producto.Stock unidades disponible</p>
                        </div>
                    }
                    else
                    {
                        <p class="h5 font-weight-bold" style="color: #74B947;">Disponible</p>
                    }

                    <p class="h5 d-inline-block"><strong>RD$ @ViewBag.Producto.Precio</strong></p>
                    <form asp-controller="Home" method="post">
                        <strong>Cantidad: </strong>
                        <select name="Cantidad" id="cantidad">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <input type="number" value="@ViewBag.Producto.IdProducto" name="IdProducto" class="d-none" />
                        <br />
                        @{ //if (ViewBag.userID != null)
                            //    {
                            <button type="button" onclick="StartCompra()" class="btn border-0  mt-4 mb-5 px-4 py-2 d-inline-block " style="background: #FD5924; color: #fff;">Comprar ahora </button>
                            //   }
                            //   else
                            //   {
                            //       <a asp-action="Login" asp-controller="Cuenta" class="btn border-0  mt-4 mb-5 px-4 py-2 d-inline-block " style="background: #FD5924; color: #fff;">Comprar ahora </a>

                            //    }
                        }
                        <button type="submit" asp-action="addCarrito" asp-controller="AdministrarCarrito" asp-area="Cliente" class="btn border-0  mt-4 mb-5 px-4  py-2  d-inline-block" style="background: #85E30C; color: #fff; margin-left: 7%;">Añadir al carrito</button>
                    </form>
                </div>
            }
            else
            {
                <p class="text-danger font-weight-bold h6">Agotado</p>
            }
        </div>
    </div>
</div>

<div class="padre d-flex align-items-center justify-content-center mt-3" style="height:170px;">

    <p class="display-4 text-center" style="color: #FF6F41;">Productos similares</p>
</div>

<div class="container mt-5 mb-5">
    <div class="owl-carousel">

        @foreach (Producto producto in ViewBag.Productos)
        {

            <div class="item" style="position: relative;">
                <div class="px-sm-4 pt-2" style="height: 350px;width:220px ;">
                    <div class="" style="height: 45%;">
                        <img src="@producto.Foto" class="img-fluid img-center" alt="">
                    </div>
                    <div class="text-center pt-sm-2 mt-2" style="height: 30%;">
                        @{
                            string srt = producto.Nombre;
                            if (srt.Length >= 38)
                            {
                                srt = srt.Substring(0, 33) + "...";
                                <p>@srt</p>
                            }
                            else if (srt.Length <= 22)
                            {
                                <p>@producto.Nombre</p>
                                <br />
                            }
                            else
                            {
                                <p>@producto.Nombre</p>
                            }
                        }
                        <h4>RD$ @producto.Precio</h4>
                        <br />
                    </div>
                    <div class="m-auto" style="height: 25%;">
                        <a class="btn btn-outline-oscuro btn-block btn-sm" asp-route-id="@producto.IdProducto" asp-controller="Home" asp-action="Detalle_Producto">Comprar ahora</a>
                    </div>
                </div>
            </div>

        }

        <input id="added" value="@ViewBag.Added" class="d-none" />
        <input id="total" value="@ViewBag.Producto.Precio" class="d-none" />

    </div>
</div>
<form asp-action="Comprado" asp-controller='Home' class="d-none">
    <input type="text" name="telefono" id="telefono" />
    <input type="text" name="comentario" id="comentario" />
    <input type="text" name="lat" id="lat" />
    <input type="text" name="lon" id="lon" />
     <input type="number" name="cantidad" id="cantidadInput" />
    <input type="number" name="id" value="@ViewBag.Producto.IdProducto" />
    <button type="submit" id="goToComprado" class='btn btn-primary text-white text-center mt-2 p-2 d-none' />
</form>
 
<script>

    var added = document.getElementById("added").value;

    if (added == "success") {
        Swal.fire(
            'Perfecto!',
            'Se agrego el producto a su carrito!',
            'success'
        );
    }

    else if (added == "error") {
        Swal.fire(
            'Oop!',
            'Algo debio haber salido mal.',
            'error'
        );
    }

</script>

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.5.2.min.js" type="text/javascript"></script>


<!-- Include the PayPal JavaScript SDK -->
<script src="https://www.paypal.com/sdk/js?client-id=AXo7HnZBirc_ek1bBKfGxjBtFZs3Ht6OxmwRsumSMzgInM_vJlUJ4J8JTgMJJRkDPMy2_tgqMzQrav8v&currency=USD"></script>

<script src="~/js/ProcesoPagoPaypalCompraProducto.js"></script>
