@model Proyecto_final_pro_3.Models.Usuario

@{
    ViewData["Title"] = "Home Page";
    if (ViewBag.userID != null)
    {
        Layout = "~/Views/Shared/_LayoutLogged.cshtml";

    }
    List<Slider> lista = ViewBag.Foto;
}

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            @{
                var base1 = Convert.ToBase64String(lista.ElementAt(0).Foto);
                var imgSrc1 = string.Format("data:image/gif;base64,{0}", base1);
            }
            <img src="@imgSrc1" class="d-block w-100" alt="..." style="max-height:600px;">
        </div>
        <div class="carousel-item">
            @{
                var base2 = Convert.ToBase64String(lista.ElementAt(1).Foto);
                var imgSrc2 = string.Format("data:image/gif;base64,{0}", base2);
            }
            <img src="@imgSrc2" class="d-block w-100" alt="..." style="max-height:600px;">
        </div>
        <div class="carousel-item">
            @{
                var base3 = Convert.ToBase64String(lista.ElementAt(2).Foto);
                var imgSrc3 = string.Format("data:image/gif;base64,{0}", base3);
            }
            <img src="@imgSrc3" class="d-block w-100" alt="..." style="max-height:600px;">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="padre d-flex align-items-center justify-content-center" style="height:170px;">
    <p class="display-4 text-center" style="color: #FF6F41;">Ofertas</p>
</div>

<div class="container mt-5 mb-5">
    <div class="owl-carousel owl-theme">

        @foreach (Producto producto in ViewBag.Productos)
        {
            if (producto.Precio >= 0 && producto.Precio <= 50)
            {
                <div class="item" style="position:relative;">
                    <div style="position: absolute; width: 80px;">
                        <img src="~/imagen/oferta2.png" class="img-fluid img-center" alt="">
                    </div>
                    <div class="px-sm-4 pt-2" style="height: 350px;width:220px ;">
                        <div class="" style="height: 45%;">
                            <img src="@producto.Foto" class="img-fluid img-center" alt="">
                        </div>
                        <div class="text-center pt-sm-2" style="height: 30%;">
                            @{
                                string srt = producto.Nombre;
                                if (srt.Length >= 38)
                                {
                                    srt = srt.Substring(0, 33) + "...";
                                    <p>@srt</p>
                                }
                                else if (srt.Length <= 22)
                                {
                                    <p>@producto.Nombre</p>
                                    <br />
                                }
                                else
                                {
                                    <p>@producto.Nombre</p>
                                }
                            }
                            <h5>RD$ @producto.Precio</h5>
                        </div>
                        <div class="m-auto" style="height: 25%;">
                            <a class="btn btn-outline-oscuro btn-block btn-sm" asp-route-id="@producto.IdProducto" asp-controller="Home" asp-action="Detalle_Producto">Comprar ahora</a>
                        </div>
                    </div>
                </div>
            }
        }

    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="owl-carousel owl-theme">

        @foreach (Producto producto in ViewBag.Productos)
        {
            if (producto.Precio >= 51 && producto.Precio <= 100)
            {
                <div class="item" style="position:relative;">
                    @*<div style="position: absolute; width: 80px;">
                        <img src="~/imagen/oferta2.png" class="img-fluid img-center" alt="">
                    </div>*@
                    <div class="px-sm-4 pt-2" style="height: 350px;width:220px ;">
                        <div class="" style="height: 45%;">
                            <img src="@producto.Foto" class="img-fluid img-center" alt="">
                        </div>
                        <div class="text-center pt-sm-2" style="height: 30%;">
                            @{
                                string srt = producto.Nombre;
                                if (srt.Length >= 38)
                                {
                                    srt = srt.Substring(0, 33) + "...";
                                    <p>@srt</p>
                                }
                                else if (srt.Length <= 22)
                                {
                                    <p>@producto.Nombre</p>
                                    <br />
                                }
                                else
                                {
                                    <p>@producto.Nombre</p>
                                }
                            }
                            <h5>RD$ @producto.Precio</h5>
                        </div>
                        <div class="m-auto" style="height: 25%;">
                            <a class="btn btn-outline-oscuro btn-block btn-sm" asp-route-id="@producto.IdProducto" asp-controller="Home" asp-action="Detalle_Producto">Comprar ahora</a>
                        </div>
                    </div>
                </div>
            }
        }

    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-12 col-md-6">
            <p class="display-4 " style="color: #FF6F41;">Recibe tu compra en menos de 30 <br /> minutos</p>
        </div>
        <div class="col-12 col-md-6">
            <img src="~/imagen/delivery.jpg" class="img-fluid" />
        </div>
    </div>
</div>
 