
@model IEnumerable<Proyecto_final_pro_3.Models.Carrito>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (ViewBag.userID != null)
    {
        Layout = "~/Views/Shared/_LayoutLogged.cshtml";

    }
}


<<<<<<< HEAD
<div class="row mx-0">
=======
    <p class="col-11 h4 pl-5 mt-3">Mi Carrito de Compra</p>
>>>>>>> 0950675112b1dd7cd4c24799b903c0746821680d

    <div class="col-11 col-sm-11 col-md-7 col-lg-8">
        @if (Model.Count() == 0)
        {
            <img src="https://image.freepik.com/free-vector/shopping-supermarket-cart-illustration_212216-20.jpg" width="400" class="mx-auto img-fluid img-center" />

        }

        @foreach (Carrito carrito in Model)
        {
            <div class="row shadow-sm py-4 pl-0" style="margin-top: 3%; margin-left: 4%; position: relative;">

                <a asp-controller="AdministrarCarrito" asp-action="Delete" asp-route-id="@carrito.IdCarrito" class="bg-danger p-0 btn text-white"
                   style="position: absolute; right: -15px; width:30px; height: 30px; top: -10px;">
                    x
                </a>

                <div class="col-4 col-lg-3 p-0">
                    <img src="@carrito.IdProductoNavigation.Foto" class="img-center" style="height:160px;">
                </div>

                <div class="col-8 col-md-6 mt-3 mt-md-0">

                    <h4 class="font-weight-bold">@carrito.IdProductoNavigation.Nombre</h4>
                    <p class="h6 font-weight-normal">@carrito.IdProductoNavigation.Descripcion</p>

                    <div class="">
                        <p class="d-inline-block">Cantidad:</p>
                        <p class="d-inline-block ml-5">@carrito.Cantidad</p>
                    </div>

                </div>
            </div>
        }

    </div>


    <div class="col-8 col-sm-7 col-md-4 col-lg-3 row ml-3 mt-3 mb-3" style="height: 430px;">
        <div class="col-11 col-lg-12 col-xl-10 mx-auto py-5" style="background-color: #F2F2F2; border-radius: 10px;">
            <div class="row">
                <p class="col-12 h6">Detalle total</p>
                <p class="col-5 h6">Sub-total</p>
                <p class="col-6 h6 p-0">RD$ @ViewBag.SubTotal</p>
                <p class="col-5 h6">Descuento</p>
                <p class="col-5 h6 p-0">RD$ @ViewBag.Descuento</p>
                <hr class="col-10">
                <p class="col-5 h5">Total</p>
                <p class="col-6 h5 p-0">RD$ @ViewBag.Total</p>
                <input id="total" value="@ViewBag.Total" class="d-none" />
                <br />
                <br />
                <br />
                <button class="btn bg-warning rounded mx-auto px-5 py-2" onclick="StartCompra()"><img src="~/iconos/Paypal.png" width="90" /></button>
            </div>
        </div>
    </div>
</div>


<form asp-action="Comprado" asp-controller='Home' class="d-none">
    <input type="text" name="telefono"  id="telefono" />
    <input type="text" name="comentario" id="comentario" />
    <input type="text" name="lat" id="lat" />
    <input type="text" name="lon" id="lon"/>

     <button type="submit" id="goToComprado"  class='btn btn-primary text-white text-center mt-2 p-2 d-none' />
</form>
  

 
<!-- Include the PayPal JavaScript SDK -->
<script src="https://www.paypal.com/sdk/js?client-id=AXo7HnZBirc_ek1bBKfGxjBtFZs3Ht6OxmwRsumSMzgInM_vJlUJ4J8JTgMJJRkDPMy2_tgqMzQrav8v&currency=USD"></script>

<script src="~/js/ProcesoPagoPaypal.js"></script>